<div class="section-title <%= 'section-title_' + id.to_s %>" onclick="toggleSection(<%= id.to_s %>)">
	<span class="section-heading">Grant for Peer-Led Groups</span>
	<span> (▲▼ Expand/Reduce)</span>
</div>


<div class="<%= 'section-details_' + id.to_s %>"onclick="toggleSection(<%= id.to_s %>)" hidden="true" >

	<div class="section-title inner-title <%= 'section-details_' + id.to_s %>" hidden="true">
		<span class="section-heading <%= 'section-details_' + id.to_s %>" hidden="true" >Grant for Peer-Led Groups</span>
		<span> (▲▼ Expand/Reduce)</span>
	</div>


<p>New Hope members sit on the grant panel which provides grants to peer-led groups run by and for people affected by mental health issues.</p>

<p>Grants have so far been allocated to:</p>

<ul>
	<li>
		Keep Safe, Keep Sane – a support group run by and for people supporting someone with challenging behaviours due to mental health issues
	</li>
	<li>
		12 O’clock Group – a group which allows people living rurally to access culturally stimulating activities
	</li>
	<li>
		Speaking Circles – a group which helps people to gain confidence to speak publicly
	</li>
	<li>
		Introduction to Surfing – a group which meets monthly over the warmer months for trips to the Devon coast and surfing lessons
	</li>
	<li>
		Mulberry House FC – a football club taking part in tournaments based at mental health supported accommodation
	</li>
	<li>
		Tiny Monuments – a group who meet to create art through words and images
	</li>
	<li>
		Sing & Smile – a group that meets to sing and develop voices in a relaxed atmostphere
	</li>
	<li>
		Breathing Space – a therapeutic art group meeting in Keynsham for those who experience anxiety, depression and social isolation
	</li>
</ul>

<p>For more information and to apply for the St Mungo’s Building Bridges to Well Being Grant you can download the <a class="doc-link" href="https://www.dropbox.com/s/mp848p6gdurbb85/Grant_GuidanceNotes">Grant Guidance Notes (Word/PDF)</a> and <a class="doc-link" href="https://www.dropbox.com/s/5xzz48m6vvpwqsz/Grant_Application">Grant Application (Word/PDF)</a></p>

<p>For support with applying for a grant, or if you would like to sit on the decision making panel contact us.</p>

</div>

