<div class="section-title <%= 'section-title_' + id.to_s %>" onclick="toggleSection(<%= id.to_s %>)">
	<span class="section-heading">What does becoming a new hope member involve?</span>
	<span> (▲▼ Expand/Reduce)</span>
</div>


<div class="<%= 'section-details_' + id.to_s %>"onclick="toggleSection(<%= id.to_s %>)" hidden="true" >

	<div class="section-title inner-title">
		<span class="section-heading <%= 'section-details_' + id.to_s %> hidden="true" >What does becoming a new hope member involve?</span>
		<span> (▲▼ Expand/Reduce)</span>
	</div>

	<ul >
		<li>Sign the confidentiality agreement</li>
		<li>Agree to stick to the code of conduct when representing New Hope</li>
		<li>Maintain the aims of the group</li>
		<li>* How much you get involved is up to you, we never ask anyone to do more than they want to, and there are plenty of ways of getting involved to suit you</li>
		<li>All members are offered one-to-one support from Building Bridges to Well Being</li>
	</ul>

</div>

