<div class="section-title <%= 'section-title_' + id.to_s %>" onclick="toggleSection(<%= id.to_s %>)">
	<span class="section-heading">Running our Office</span>
	<span> (▲▼ Expand/Reduce)</span>
</div>


<div class="<%= 'section-details_' + id.to_s %>"onclick="toggleSection(<%= id.to_s %>)" hidden="true" >

	<div class="section-title">
		<span class="section-heading" >Running our Office</span>
		<span> (▲▼ Expand/Reduce)</span>
	</div>


	<p>New Hope have office space at Greenpark Station in Bath. New Hope volunteers use this space to work from and are responsible for administrative tasks including writing minutes for meetings, updating the website and planning for activities and events with the support of St Mungo’s Building Bridges to Well Being. If you would like to get involved with running the office, please <%= link_to "contact us", contact_path, :class => "contact-link" %>.</p>

</div>

