<div class="section-title <%= 'section-title_' + id.to_s %>" onclick="toggleSection(<%= id.to_s %>)">
	<span class="section-heading">Peer-Led Groups</span>
	<span> (▲▼ Expand/Reduce)</span>
</div>


<div class="<%= 'section-details_' + id.to_s %>"onclick="toggleSection(<%= id.to_s %>)" hidden="true" >


		<span class="section-heading" >Peer-Led Groups</span>
		<span> (▲▼ Expand/Reduce)</span>



<p>What helps and what hinders people affected by mental health issues when accessing groups and support which would improve their overall wellbeing. Download the report. (Word/PDF) </p>

<p>Details of peer-led groups can be found <%= link_to "here", groups_path, :class => "contact-link" %>.</p>

</div>

