<div class="section-title <%= 'section-title_' + id.to_s %>" onclick="toggleSection(<%= id.to_s %>)">
	<span class="section-heading">Website</span>
	<span> (▲▼ Expand/Reduce)</span>
</div>


<div class="<%= 'section-details_' + id.to_s %>"onclick="toggleSection(<%= id.to_s %>)" hidden="true" >

	<div class="section-title inner-title <%= 'section-details_' + id.to_s %>" hidden="true">
		<span class="section-heading <%= 'section-details_' + id.to_s %>" hidden="true" >Website</span>
		<span> (▲▼ Expand/Reduce)</span>
	</div>


	<p>New Hope have designed and maintain this website with the support of St Mungos’s Building Bridges to Well Being. New Hope members volunteer to respond to messages and make sure that the website is up-to-date. If you would like to get involved with maintaining the website, please <%= link_to "contact us", contact_path, :class => "contact-link" %></p>

</div>

