<div id="message_sender">
  
<p>Send us a message</p>

  <%= simple_form_for @message do |f| %>
     <p>Who would you like to send the mail to?</p>
      
     <span>Send email to New Hope</span>
     <%= check_box_tag 'message[new_hope]' %>
   </br>

     <span>Send email to Building Bridges</span>
     <%= check_box_tag 'message[bridges]' %>
      
     <p>Your details</p>
     <%= f.input :name %>
     <%= f.input :phone %>
     <%= f.input :email %>
     <span>Send a copy of the message to your email</span>
     <%= check_box_tag 'message[confirmation]' %>
     <%= f.input :subject %>
     <%= f.input :content, :as => :text %>
   
 
     <%= f.button :submit, :class => 'btn-primary'  %>
   
  <% end %>
</div>


<!--
%= f.input :new_hope, :as => :checkbox, :label => "New Hope" %>
%= f.input :bridges, :as => :checkbox, :label => "Building Bridges" %>
%= f.input :confirmation, :as => :checkbox, :label => "Send a copy to your email?" %>
-->