<p id="notice"><%= notice %></p>


<%= render :partial => 'name' %>

<%= render :partial => 'address' %>

<%= render :partial => 'description' %>

<%= render :partial => 'details' %>



<% if admin %>
  | <%= link_to 'Edit', edit_group_path(@group) %>
  | <%= link_to 'Destroy', @group, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
