<p id="notice"><%= notice %></p>

<h1 class='group-name page-title'><%= @group.name%></h1><hr>

<div class ='basic-details'>
  <h5 class='group-time'><%= @group.date %> - <%= @group.time %> - <%= @group.venue %></h5>
</div>

<hr>


<div class='contact-details'>
<h5 class='group-contact'>Contact : <%= @group.contact %></h5>
</div>
<hr>
</br>

<div class="group-description">
  <h3>Description</h3>
  <p><%= @group.description %></p>
</div>


<div class='further-details'>

  <h5>How to join</h5>
    <p><%= @group.joining %></p>


  <h5>How much does it cost?</h5>
    <p><%= @group.cost %></p>


  <h5>Is there disabled access</h5>
    <p><%= @group.access %></p>
</div>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
