<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @event do |f| %>

        <%= f.input :name %>
        <%= f.input :organisation %>
        <%= f.input :description, :as => :text, :input_html => { :rows => 3 } %>
    
        <%= f.input :contact_person %>
        <%= f.input :contact_role %>
        <%= f.input :phone %>
        <%= f.input :email %>
        <%= f.input :address %>
        <%= f.association :contact, :as => :radio_buttons %>
    
        <%= f.input :date %>
        <%= f.input :time %>
        <%= f.input :ongoing %>
        <%= f.association :frequency, :as => :select  %>
        <%= f.association :day, :as => :select %>
    
        <%= f.input :cost %>
    
        <%= f.input :access, :as => :radio, :wrapper_html => { :class => 'inline' }  %>
        <%= f.input :access_details %>
    
        <%= f.association :referral, :as => :select %>
        <%= f.input :joining_process %>

        <label class="target">How is the group for</label>
        <div class="Xtarget-left">
          <%= f.input :adults, :as => :boolean, :label => "Over 18's" %>
          <%= f.input :under_18, :as => :boolean %>
          <%= f.input :target_men, :as => :boolean %>
          <%= f.input :target_women, :as => :boolean %>
          <%= f.input :target_mental_health, :as => :boolean %>
          <%= f.input :target_learning_difficulties, :as => :boolean %>
        </div>
        <div class="Xtarget-right">  
          <%= f.input :target_drug_alcohol, :as => :boolean %>
          <%= f.input :target_homelessness, :as => :boolean %>
          <%= f.input :target_carers, :as => :boolean %>
          <%= f.input :target_carers_mental_health, :as => :boolean %>
          <%= f.input :target_vulnerable, :as => :boolean %>
          <%= f.input :target_anyone, :as => :boolean %>
        </div>
        
        <div class="Xtarget-other">  
          <%= f.input :target_other, :as => :string %>
        </div>
        <label class="tag">Tags</label>
        <div class="Xtag-left">   
          <%= f.input :tag_sports, :as => :boolean %>
          <%= f.input :tag_outdoors, :as => :boolean %>
          <%= f.input :tag_creative, :as => :boolean %>
          <%= f.input :tag_wellbeing, :as => :boolean %>
          <%= f.input :tag_social, :as => :boolean %>
        <div class="Xtag-right">
        </div>   
          <%= f.input :tag_faith, :as => :boolean %>
          <%= f.input :tag_food, :as => :boolean %>
          <%= f.input :tag_learning, :as => :boolean %>
          <%= f.input :tag_exersise, :as => :boolean %>
          <%= f.input :tag_lifestyle, :as => :boolean %>
        </div>
        <div class="Xtag-other"> 
          <%= f.input :tag_other, :as => :string %>
        </div> 

    
        <%= f.input :directions_walking %>
        <%= f.input :directions_bus %>
        <%= f.input :directions_train %>
        <%= f.input :directions_car %>
    
        <%= f.input :other%>

        <%= f.button :submit, :class => 'btn-primary'  %>


    <% end %>
  </div>
</div>
