
<div class='event-entry' onclick="toggleDetails(<%= event.id.to_s %>)">
  <div class="<%= 'event-summary_' + event.id.to_s %>">
    <span class='summary-datetime'>
      <span class='summary-date'><%= event.summary_date %></span>
      
      <span class='summary-time'><%= event.summary_time %></span>
    </span>
    <span class='summary-nameaddress'>
      <span class='summary-name'><%= event.summary_name %></span>
      
      <span class='summary-address'>
        <span>
          <%= event.summary_address_line_one %>
        </span>
      </br>
        <span>
          <%= event.summary_address_postcode %>
        </span> 
      </span>
    </span>
    <span class='summary-right'>
      Cost: <span class='summary-cost'><%= event.summary_cost %></span>
    </br>
      Contact: <span class='summary-contact'><%= event.summary_contact %></span>
    </span>
  </div>



  <div class="<%= 'event-details_' + event.id.to_s %>" hidden='true'>
   <h4><%= event.summary_name %></h4>
   <p> <strong>Organisation: </strong> <%= event.display_organisiation %></p>

   <div>
     <span class='details-date'> <strong>Details: </strong> <%= event.summary_date %></span> -
     <span class='details-time'><%= event.summary_time %></span> |
     <span><%= event.cost %></span> |
     <span><%= event.address.town %></span> |
     <span><%= event.display_access %></span>
   </div>

   <p> <strong>Full Address: </strong> <%= event.summary_address %></p>
   <p> <strong>Contact: </strong> <%= event.contact_person %> | <%= event.display_contact %> </p>
   <p>  <strong>Joining: </strong> <%= event.joining_process %> </p>
   <p> <strong>Description: </strong> <%= event.display_description %></p>
   <p> <strong>Directions: </strong> <%= event.display_directions %></p>

   <% if admin %>
     <div class="row">
       <div class="span6">
       <span><%= link_to "Click here to EDIT #{event.name}", edit_event_path(event), 
                        :class => 'btn btn-info event-edit'      %></span>
       </div>
       <div class="span6">
       <span><%= link_to "Click here to DELETE #{event.name}", event,
              :class => 'btn btn-danger event-delete', 
              method: :delete, 
              data: { confirm: 'Are you sure?' } %></span>
       </div>
     </div>
   <% end %>
  </div>
</div>




