
<div class='event-entry' onclick="toggleDetails(<%= event.id.to_s %>)">
  <div class="<%= 'event-summary_' + event.id.to_s %>">
    <span class='summary-datetime'>
      <span class='summary-date'><%= event.complex_date.time == nil ? 'Unknown' : event.complex_date.time.strftime("%b %e") %></span> - 
      <span class='summary-time'><%= event.complex_date.time == nil ? '' : event.complex_date.time.strftime("%l:%M %p") %></span>
    </span> | 
     
    <span class='summary-name'><%= event.name == '' ? 'Unknown' : event.name %></span> |
  
    <span class='summary-address'><%= event.display_address %></span> | 
      
    <span class='summary-right'>
      Cost: <span class='summary-cost'><%= event.cost  == '' ? 'Unknown' : event.cost %></span> |
    
      Contact: <span class='summary-contact'><%= event.contact_person  == '' ? 'Unknown' : event.contact_person %></span>
    </span>
  </div>



  <div class="<%= 'event-details_' + event.id.to_s %>" hidden='true'>
   <h3><%= event.name == '' ? 'Unknown' : event.name %> - <%= event.organisation  == '' ? '' : event.organisation %></h3>
   <p><%= event.description == '' ? 'Unknown' : event.description %></p>

   <% if admin %>
     <div class="row">
       <div class="span6">
       <span><%= link_to "Click here to EDIT #{event.name}", edit_event_path(event), 
                        :class => 'btn btn-info event-edit'      %></span>
       </div>
       <div class="span6">
       <span><%= link_to "Click here to DELETE #{event.name}", event,
              :class => 'btn btn-danger event-delete', 
              method: :delete, 
              data: { confirm: 'Are you sure?' } %></span>
       </div>
     </div>
   <% end %>
  </div>
</div>



<script type="text/javascript" charset="utf-8">
 function toggleDetails(id){

   $('.event-summary_' + id).toggle();

   $('.event-details_' + id).toggle();
 };
</script>

