<div class="search-target">
  
<div>
<input type='checkbox' value="adults"                  <%= params[:target] == 'adults' ? "checked='true'" : "false" %> >Adults</input>
</div>
<div>
<input type='checkbox' value="under_18"                <%= params[:target] == 'under_18' ? "checked='true'" : "false" %>>Under 18's</input>
</div>
<div>
  <input type='checkbox' value="men"                   <%= params[:target] == 'men' ? "checked='true'" : "false" %>>Men</input>
  </div>
<div>
<input type='checkbox' value="women"                   <%= params[:target] == 'women' ? "checked='true'" : "false" %>>Women</input>
</div>
<div>
<input type='checkbox' value="mental_health"           <%= params[:target] == 'mental_health' ? "checked='true'" : "false" %>>Mental Health Issues</input>
</div>
<div>
<input type='checkbox' value="learning_difficulties"   <%= params[:target] == 'learning_difficulties' ? "checked='true'" : "false" %>>Learning difficulties</input>
</div>
<div>
<input type='checkbox' value="drug_alcohol"            <%= params[:target] == 'drug_alcohol' ? "checked='true'" : "false" %>>Drug alcohol problems</input>
</div>
<div>
<input type='checkbox' value="homelessness"            <%= params[:target] == 'homelessness' ? "checked='true'" : "false" %>>Homelessness</input>
</div>
<div>
<input type='checkbox' value="carers"                  <%= params[:target] == 'carers' ? "checked='true'" : "false" %>>Carers</input>
</div>
<div>
<input type='checkbox' value="carers_mental_health"    <%= params[:target] == 'carers_mental_health' ? "checked='true'" : "false" %>>Carers (mental health)</input>
</div>
<div>
<input type='checkbox' value="vulnerable"              <%= params[:target] == 'vulnerable' ? "checked='true'" : "false" %>>Vulnerable people</input>
</div>
<div>
<input type='checkbox' value="anyone"                  <%= params[:target] == 'anyone' ? "checked='true'" : "false" %>>Anyone</input>
</div>

</div>