<div class="row">
  <div class="span12">
  <h1 class='page-title'>What's On - <%= DateTime.now.to_date.strftime(('%e %B %Y')) %>
  </div>
</div>

<!-- <div class="row">
  <div class="span1"><h5>Group</h5></div>
  <div class="span2"><h5>Time</h5></div>
  <div class="span1"><h5>What is this</h5></div>
  <div class="span2"><h5>Organisation</h5></div>
  <div class="span2"><h5>Referral Process</h5></div>
  <div class="span1"><h5>Cost</h5></div>
  <div class="span2"><h5>Where</h5></div>
  <div class="span1"><h5>Who to Contact</h5></div>
</div> -->

</br>
<div class="event-links">
  <%= link_to "All", events_path %></br>
  
  <h4>Filter by Date</h4>
  <%= link_to "Today", events_path(:day => 'true') %></br>
  <%= link_to "This week", events_path(:week => 'true') %></br>
  <%= link_to "This month", events_path(:month => 'true') %></br>
  
  <h4>Filter by Tag</h4>
  <%= link_to "Sports", events_path(:tag => 'sports') %></br>
  <%= link_to "Outdoors", events_path(:tag => 'outdoors') %></br>
  <%= link_to "Creative", events_path(:tag => 'creative') %></br>
  <%= link_to "Wellbeing", events_path(:tag => 'wellbeing') %></br>
  <%= link_to "Social", events_path(:tag => 'social') %></br>
  <%= link_to "Faith", events_path(:tag => 'faith') %></br>
  <%= link_to "Food", events_path(:tag => 'food') %></br>
  <%= link_to "Learning", events_path(:tag => 'learning') %></br>
  <%= link_to "Exercise", events_path(:tag => 'exercise') %></br>
  <%= link_to "Lifestyle", events_path(:tag => 'lifestyle') %></br>
  
  <%= link_to "Adults", events_path(:target => 'adults') %></br>
  <!-- :adults, :under_18, :men, :women, :mental_health, :learning_difficulties, :drug_alcohol, :homelessness, :carers, :carers_mental_health, :vulnerable, :anyone, :other -->
</div>

<% @events.each do |event| %>
  <%= render :partial => 'single_event_2', :locals => {:event => event} %>
<% end %>
<br />

<% if admin %>
  <%= link_to 'New Event', new_event_path %>
<% end %>