



<span class="event-links">
  <form action="<%= events_search_path %>" method="post">

    <h5>Date</h5>
    <span class='search-filters'>
      <%= render :partial => 'date_drop_down' %>
    </span>


    <div class="input-prepend">
      <input class='search-datepicker' type="text" name='date' data-behaviour='datepicker'>
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>


    <h5>Filters</h5>


    <span class='search-filters'>

    <%= render :partial => 'cost_drop_down' %>
    <%= render :partial => 'referral_drop_down' %>
    <%= render :partial => 'tag_drop_down' %>
    <%= render :partial => 'target_drop_down' %>

    </span>

    <button class="btn btn-success" >Search</button>
    <a href="<%= events_path %>" class="btn btn-warning">Reset</a>

  </form>




</span>


  <h1 class='page-title'>What's On - <%= DateTime.now.to_date.strftime(('%e %B %Y')) %></h1>

  <%= link_to events_print_path(:events => @events), :class => "btn btn-primary btn-mini print-button" do %>
    Print <span class="add-on"><i class="icon-print"></i></span>
  <% end %>

  <span style="margin-left: 10px; float: right;"> Click on an entry to display extra information and details</span>
  <span style="margin-left: 10px; float: right;"> To add an event <%= link_to "contact us", contact_path %> </span>


<div class="event-list">
  <% @events.each do |event| %>
    <%= render :partial => 'single_event', :locals => {:event => event} %>
  <% end %>


  <% if admin %>
    <%= link_to 'New Event', new_event_path, :class => 'btn btn-success event-new' %>
  <% end %>

</div>




<br />





<script type="text/javascript" charset="utf-8">


$("[data-behaviour~='datepicker']").datepicker({
    "format": "yyyy-mm-dd",
    "weekStart": 1,
    "autoclose": true
});



</script>