<div class="row">
  <div class="span12">
  <h1 class='page-title'>What's On - <%= DateTime.now.to_date.strftime(('%e %B %Y')) %>
  </div>
</div>


</br>
<div class="event-links">
  
  <h4>Date</h4>
  <%= link_to "Today", events_path(:day => 'true') %></br>
  <%= link_to "This week", events_path(:week => 'true') %></br>
  <%= link_to "This month", events_path(:month => 'true') %></br>
  
  <h4>Filters</h4>


  <form action="<%= events_search_path %>" method="post">
    <span class='search-filters'>
      
    
    <%= render :partial => 'referral_drop_down' %>
    <%= render :partial => 'tag_drop_down' %>
    <%= render :partial => 'target_drop_down' %>

    </span>

    <button class="btn" >Filter</button>
    <a href="<%= events_path %>" class="btn">Reset</a>

  </form>


    

</div>
  <span style="margin-left: 10px;"> Click on an entry to display extra information and details</span>
  <span style="margin-left: 10px;"> To add an event <%= link_to "contact us", contact_path %> </span>


<div class="event-list">
  <% @events.each do |event| %>
    <%= render :partial => 'single_event', :locals => {:event => event} %>
  <% end %>


  <% if admin %>
    <%= link_to 'New Event', new_event_path, :class => 'btn btn-success event-new' %>
  <% end %>
  
</div>




<br />




<script type="text/javascript" charset="utf-8">
 function toggleDetails(id){

   $('.event-summary_' + id).toggle();

   $('.event-details_' + id).toggle();
 };



</script>