<div class="top-links">
  <div class="links_container">
  <%= link_to "LINKS", links_path %>
  <%= link_to "CONTACT", contact_path %>
  <%= link_to "PEER LED GROUPS", groups_path %>
  <%= link_to "WHAT'S ON", events_path %>
  <%= link_to "NEW HOPE", about_path %>
  <% if admin %>
    <%= link_to "Sign Out", signout_path %>
  <% end %>
  </div>
</div>
