<!DOCTYPE html>
<html>
<head>
  <title>HopeTest</title>
  <%= stylesheet_link_tag    "application", :media => "all"  %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>



<div class="top-bar">

<div class="top-title">
  <h1>NEW HOPE</h1> <h2>Making a difference in Mental Health </h2>

</div>
</br>
<div class="top-links">
  <%= link_to "Links", links_path %>
  <%= link_to "Contact", contact_path %>
  <%= link_to "Peer Led groups", groups_path %>
  <%= link_to "New Hope", about_path %>
  <%= link_to "What's On", events_path %>
  <%= link_to "Home", home_path %>
  <% if admin %>
    <%= link_to "Sign Out", signout_path %>
  <% end %>
</div>
  
</div>

<div class="left-bar">

<div class="left-links">
  <%= link_to "Home", home_path %></br>
  <%= link_to "What's On", events_path %></br>
  <%= link_to "New Hope", about_path %></br>
  <%= link_to 'Peer Led Groups', groups_path %></br>
  <%= link_to "Contact", contact_path %></br>
  <%= link_to "Links", links_path %>
</div>

<!-- <% if current_page?(events_path) %>

<div class="event-links">
  <%= link_to "All", events_path %></br>
  <%= link_to "Sports", events_path(:search => 'sports') %></br>
  <%= link_to "Social", events_path(:search => 'social') %></br>
  <%= link_to "New Hope", about_path %></br>
  <%= link_to 'Peer Led Groups', groups_path %></br>
  <%= link_to "Contact", contact_path %></br>
  <%= link_to "Links", links_path %>
</div>

<% end %>  -->
  
</div>

<div class="content"><%= yield %></div>


</body>
</html>





