<!DOCTYPE html>
<html>

<head>
  <title>HopeTest</title>
  <%= stylesheet_link_tag    "application", :media => "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!--
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  -->



  <div class="outer-container">

    <div class="top-section">
      <div class="top-bar">


        <div class="top-title">
          <%= image_tag("logo.png") %>
          <!-- <h2>Making a difference in Mental Health </h2> -->
        </div>

        <div class="top-links">
          <div class="links_container">
            <%= link_to "LINKS", links_path %>
          <%= link_to "CONTACT", contact_path %>
          <%= link_to "PEER LED GROUPS", groups_path %>
          <%= link_to "WHAT'S ON", events_path %>
          <%= link_to "NEW HOPE", about_path %>
          <% if admin %>
            <%= link_to "Sign Out", signout_path %>
          <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>


  <div class="bottom-section">

     <div class="content">
        <%= yield %>
    </div>

  </div>


</body>
</html>





